<html>
<head><title>Table Template</head>
<body>
<table>
	<thead>
		<tr class="main"><th>H1</th><th>H2</th></tr>
		<tr><th>HH1</th><th>HH2</th></tr>
	</thead>
	<tbody>
		<tr class="odd"><td class="first">A</td><td>B</td><td>C</td>
		<tr class="even"><td class="first">A</td><td>B</td><td>C</td>
		<tr class="odd"><td class="first">A</td><td>B</td><td>C</td>
		<tr class="even"><td class="first">A</td><td>B</td><td>C</td>
	</tbody>
	<tfoot>
		<tr class="main"><th>H1</th><th>H2</th></tr>
		<tr><th>HH1</th><th>HH2</th></tr>
	</tfoot>
</table>
</body>
</html>
